{% extends 'base.html' %}

{% block title %} CreateTestSection {% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">Add Section</div>
    <div class="panel-body">
        <form method="post" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" name="" value="">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

