{% extends 'base.html' %}

{% block title %} CreateTest {% endblock %}
{% load testadd_extras %}
{% block content %}
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Add Test</div>
        <div class="panel-body">
            <form class="form-horizontal" method="POST">
                {% csrf_token %}
                {% if existingtesterror %}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4 alert alert-danger">
                        <strong>Alert! </strong>Entered Test name already exists.please try different name
                    </div>
                </div>
                {%endif %}

                <div class="form-group">
                    <label class="control-label col-sm-2" for="testname">Test Name:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="testname" placeholder="Enter TestName" name="testname" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="testdescription">Description:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="testdescription" placeholder="Please describe about test" name="testdescription" required>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="testduration">Test Duration Mins:</label>
                    <div class="col-sm-4">
                        <input type="testduration" class="form-control"  id="testduration" placeholder="Enter Duration Mins" name="testduration" >
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-sm-2" for="testsection">Sections:</label>
                    <div class="col-sm-4">
                        <select class="form-control" id="currentsection" name="currentsection" multiple>
                            <option selected="selected">Select Sections:</option>

                            {% for sectionlist in testsection_record_list %}
                            <option id="sectionlist1" value="{{ sectionlist.section_id }}">{{ sectionlist|duplicate:duplicate_section_list  }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <a button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add Section</button></a>
                </div>
               <div class="form-group">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-6">
                            <button id="clearbutton" type="reset" name="clear" class="btn btn-standard">Clear</button>
                            <a href="/admin/test" class="btn btn-danger" role="button">Cancel</a>
                           <button type="submit" class="btn btn-success" name="form_action" value="addtest">submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% csrf_token %}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Section</h4>
                </div>

                {% if existingsectionerror %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-4 alert alert-danger">
                            <strong>Alert! </strong>Entered Section name already exists.please try different name
                        </div>
                    </div>
                </div>

                {%endif %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <label for="sectionname" class="control-label col-sm-2"><b>SectionName:</b></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Enter SectionName" name="sectionname" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label for="section_description" class="control-label col-sm-2"><b>Description:</b></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="Enter Section description" name="sectiondescription" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-6">
                            <button id="clearbutton" type="reset" name="clear" class="btn btn-standard">Clear</button>
                             <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-success"  type="submit" name="form_action" value="createsection">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
     $(function(){
    console.log('js addtest loaded')
    var text1 = 'Sectionworking';
    console.log('js addtest loaded1')
    $('#ssectionlist1').val($('#9').text());
        console.log('js addtest loaded2')
        return this.text;
        console.log('js addtest loaded3')
    }).attr('selected', true);
</script>
{% endblock %}

