{% extends 'base.html' %}

{% block title %} Add Questions {% endblock %}

{% block content %}
<div class="container">
    <div class="panel panel-primary" >
        <div class="panel-heading">Add Complexity</div>
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}

                {% if complexity_exists_error %}
                <div class="row" >
                    <div class="col-sm-offset-3 col-sm-4 alert alert-danger">
                        <strong>Alert!</strong> Entered name already exists.
                    </div>
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-lg-2" >Complexity Name</label>
                        <div class="col-lg-6">
                            {{complexity_form.complex_name}}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <label class="control-label col-lg-2" >Description</label>
                        <div class="col-lg-6">
                            {{complexity_form.complex_description}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-6">
                            <button id="clearbutton" type="reset" name="clear" class="btn btn-standard">Clear</button>
                            <a href="/admin/complexity" class="btn btn-danger" role="button">Cancel</a>
                            <button type="submit" name="Submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
