{% extends 'base.html' %}

{% block title %} Edit QuestionType {% endblock %}

{% block content %}
<div class="panel panel-primary" >
    <div class="panel-heading">Edit Question Type</div>
    <div class="panel-body">

        <form method="post" novalidate>
            {% csrf_token %}

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-lg-2" >QuestionType</label>
                    <div class="col-lg-10">
                        {{questiontype_edit_form.questiontype_name}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <label class="control-label col-lg-2" >QuestionType Description</label>
                    <div class="col-lg-10">
                        {{questiontype_edit_form.questiontype_description}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-offset-2 col-lg-1">
                        <a href="/admin/questiontype" class="btn btn-danger" role="button">Cancel</a>
                    </div>
                    <div class=" col-lg-6">
                        <button type="submit" class="btn btn-primary" name="submit">Update</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

{% endblock %}