{% extends 'base.html' %}

{% block title %} Add Question Type {% endblock %}

{% block content %}

<div class="panel panel-primary" >
   <div class="panel-heading">Add Question Type</div>
   <div class="panel-body">
      <form method="post" novalidate>
         {% csrf_token %}
         <div class="form-group">
             <div class="row">
                <label class="control-label col-lg-2" >Question Type</label>
                <div class="col-lg-10">
                   {{question_type_form.questiontype_name}}
                </div>
            </div>
         </div>

         <div class="form-group">
             <div class="row">
                <label class="control-label col-lg-2" >Question Type Description</label>
                <div class="col-lg-10">
                   {{question_type_form.questiontype_description}}
                </div>
             </div>
         </div>

          <div class="form-group">
              <div class="row">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary" name="submit">Add</button>
                    </div>
              </div>
          </div>
      </form>
   </div>
</div>

{% endblock %}
