{% extends 'base.html' %}

{% block title %} EditTestSection {% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">Add Section</div>
    <div class="panel-body">
        <!--<form class="form-horizontal" method="POST">
          {% csrf_token %}
            {% if existingerror %}

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-4 alert alert-danger">
              <strong>Alert! </strong>Entered Section name already exists.please try different name
              </div>
              </div>
              {%endif %}

            <div class="form-group">
            <label class="control-label col-sm-2" for="sectionname">Section Name:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="sectionname" placeholder="Enter Section Name" name="sectionname" required>
            </div>
          </div>
            <div class="form-group">
            <label class="control-label col-sm-2" for="sectiondescription">Section Description:</label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="sectiondescription" placeholder="Enter Section Description" name="sectiondescription" required>
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success" name="" value="">submit</button>
            </div>
          </div>


        </form>-->
        <form method="post" >
            {% csrf_token %}
            {{form.as_p}}
            <div class="form-group">
                <div class="col-sm-text-left">
                    <a href="/admin/test/section" class="btn btn-default" role="button">Cancel</a>
                    <button type="submit" class="btn btn-success" name="" value="">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

