{% extends 'base.html' %}

{% block title %}Section{% endblock %}


{% block content %}


<div class="panel panel-primary">
    <div class="panel-heading">Section List</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered data_table" width="100%" cellspacing="0">
            <thead>
            <tr>

                        <th>Sl No</th>
                        <th>Section Name</th>
                        <th>Description</th>
                        <th>Created By</th>
                        <th>Created On</th>

            </tr>
            </thead>
            <tbody>

            {% for section in section_list %}
            <tr>
                    <td><span>{{ forloop.counter }}</span></td>
                    <td><a href="/admin/test/section/edit/{{ section.section_id }}">{{ section.section_name }}</a></td>
                    <td>{{ section.section_description }}</td>
                    <td>{{ section.section_createdby }}</td>
                    <td>{{ section.section_createdon }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
