{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}
        <div class="container">
            <form method="POST" action="/admin/user">
            {% csrf_token %}
                <div class=" panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>User List</strong></h3>
                    </div>
                    <div class="panel-body">

                    <table class="table table-striped table-bordered data_table"  width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>Username</th>
                                <th>Email ID</th>
                                <th>Role ID</th>
                            </tr>
                        </thead>
                    <tbody>
                         {% for item in user_lists %}
                        <tr>
                            <td>{{item.custom_userid}}</td>
                            <td>{{item.custom_userid__username}}</td>
                            <td>{{item.custom_userid__email}}</td>
                            <td>{{item.custom_roleid}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <a href="user/add" class="btn btn-primary" role="button">Add User</a>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
            </form>
        </div>
{% endblock %}