.panel{
    margin:50px;
}
.blue {
    color: blue;
}
.red {
    color:red;
}

.green {
    color:green;
}

.icon-muted{
    color:gray;
}

.inactive_row, .inactive_row .edit-icon,.inactive_row .glyphicon-trash{
    color:#777
}

.active_row, .active_row .edit-icon,.active_row .glyphicon-trash{
    color:#337ab7
}

.searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}



