{% extends 'dashboard.html' %}

{% block content %}

<script>
var popupWindow;
// JavaScript popup window function
	function basicPopup(url) {
var h = screen.height;
var w = screen.width;
        popupWindow = window.open(url,'Exam',
        'height='+h+',width='+w+',left=50,top=50,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=yes,directories=no, status=no')


	}
</script>

<div class="col-sm-7">
    <div class="panel panel-primary">
        <div class="panel-heading">Instructions</div>
        <div class="panel-body">
            <div class="container">
                <h3>Exam has been closed or Interrupted
                Click  Start Quiz to continue
                </h3>


            </div>
            <form method="post" >
                {% csrf_token %}

                <div class="form-group">
                    <div class="row">
                        <div class=" col-lg-1">
                            <a href="/candidate" class="btn btn-danger" role="button" >Cancel</a>
                        </div>
                        <div class="col-lg-offset-1 col-lg-1">
                            <a href="#" onclick= "basicPopup('/candidate/exam/{{test_name.testmap_testid.test_id}}')" class="btn btn-success" >Start Quiz</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}