
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="col-lg-7">
    <div class="panel panel-primary" >
        <div class="panel-heading">Exam
            <div id="showtime" class="pull-right"> Time</div>
        </div>
        <div class="panel-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <div id="questionid " class="row">
                        <label class="control-label col-lg-12 question-area">{{questionchoices.question}}</label>
                    </div>
                </div>
                <div class="form-group col-lg-7" >
                    <div class="row choice-area" >

                        {% for val in questionchoices.choices %}
                        {% if questionchoices.choice_type == "Radio"%}
                        <input type="radio"  name="radiogroup"  value="{{ val }}">{{val}}<br>
                        {% endif %}
                        {% if questionchoices.choice_type == "Checkbox"%}
                        <input type="Checkbox"  name="checkboxgroup"  value="{{ val }}" >{{val}}<br>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class=" col-lg-offset-8 col-lg-2 ">
                            <button id="back_btn" type="button" class="btn btn-standard action_button" name="submit" data-questionback-id ="{{questionchoices.temp_id}}" >Back</button>
                        </div>
                        <div class=" col-sm-8 col-lg-2 ">
                            <button id="next_btn" type="button" class="btn btn-primary action_button" name="submit" data-question-id ="{{questionchoices.temp_id}}" >Next</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<script>

var test=0;
var test_id = window.location.pathname.match(/\d+/)[0];
var initial_question = 0
url ="";
var submit_bool=false;
    function clickedButton()
            {


    }
$(".choice-area").on( "click","input", function(){
choicetext=[];
    $( "input:checked" ).each(function(i){
        choicetext[i] =  $(this).val();

     });
});

var choicetext=[];
    $("#back_btn").hide();
    $("#submitid").hide();
question_temp_id = Number($('#next_btn').data("question-id"));

$(document).on('click','.action_button',function(){
    url = "http://127.0.0.1:8000/candidate";
    var button_action =  $(this).attr('id');

if(button_action=="back_btn" || button_action=="next_btn")
 submit_bool=false;


$.ajax({
    url:  url+"/exam_ajax_question/",
    type: "post",
    data: { 'temp_tbl_id':question_temp_id  , 'choicetext':choicetext,'button_action':button_action},
    success:function(serializeddata){
    if(submit_bool)
        window.location = 'http://127.0.0.1:8000/candidate/evaluate/'+test_id;

    choicetext=[];
    output=serializeddata.temp_id

    if(!serializeddata.show_next_btn){
    $("#next_btn").replaceWith("<button id='submit_btn' type='button' class='btn btn-primary action_button'  name='submit' data-question-id ='{{questionchoices.temp_id}}' >Submit</button>");
    submit_bool=true;

    }
    else{

    $("#submit_btn").replaceWith("<button id='next_btn' type='button' class='btn btn-primary action_button'  name='submit' data-question-id ='{{questionchoices.temp_id}}' >Next</button>");
    submit_bool=false;
    }

     $(".question-area").html(serializeddata.question);
     correct_answer = serializeddata.saved_choice;

     output=serializeddata.temp_id
     choice_html = ""
     if(serializeddata.choice_type == "Radio"){
     for (var item in serializeddata.choices ){

     choice_text = serializeddata.choices[item];
      var checked ="checked";
    if(correct_answer == choice_text){
         choice_html = choice_html + "<input type='radio' "+checked+"  value='"+choice_text+"' name ='choices[]' />"+choice_text+"<br>"
        }
        else{
     choice_html = choice_html + "<input type='radio'  value='"+choice_text+"' name ='choices[]' />"+choice_text+"<br>"
     }
     }
     }
     else{
     for (var item in serializeddata.choices ){

     choice_text = serializeddata.choices[item];
      console.log("testid-"+question_temp_id+" ::correct_answer-" +correct_answer+" ::choice_text-" +choice_text+"  ::")
      var checked ="checked";
    if(correct_answer == choice_text){
        choice_html = choice_html + "<input type='checkbox' "+checked+" value='"+choice_text+"' name ='choices[]' />"+choice_text+"<br>"
}
else{
     choice_html = choice_html + "<input type='checkbox'  value='"+choice_text+"' name ='choices[]' />"+choice_text+"<br>"
     }
     }
     }
question_temp_id=serializeddata.temp_id

     $(".choice-area").html(choice_html);
     $("#tempid").data("question-id",serializeddata.temp_id);

if(serializeddata.show_back_btn)
     $("#back_btn").show()
else
 $("#back_btn").hide()

    }
   })
       });

    //Timer Function
        var tim;
        var min = '{{test.test_duration_mins}}';
        var sec = '00';
        var f = new Date();

        function customSubmit(someValue){

        	 document.questionForm.minute.value = min;
        	 document.questionForm.second.value = sec;
        	 document.questionForm.submit();
        	 }
        examTimer()
        function examTimer() {

            if (parseInt(sec) >0) {

			    document.getElementById("showtime").innerHTML = "Time Remaining - "+min+" Min : " + sec+" Sec";
                sec = parseInt(sec) - 1;
                tim = setTimeout("examTimer()", 1000);
            }
            else {
			    if (parseInt(min)==0 && parseInt(sec)==0){
			    	document.getElementById("showtime").innerHTML = "Time Remaining :"+min+" Minutes ," + sec+" Seconds";
				   //calling the submit function
				     clickedButton();
			     }

                if (parseInt(sec) == 0) {
				    document.getElementById("showtime").innerHTML = "Time Remaining :"+min+" Minutes ," + sec+" Seconds";
                    min = parseInt(min) - 1;
					sec=59;
                    tim = setTimeout("examTimer()", 1000);
                }

            }
        }

</script>

{% endblock %}


