{% extends 'dashboard.html' %}

{% block content %}

<div class="col-sm-7">
    <div class="panel panel-primary">
        <div class="panel-heading">Instructions</div>
        <div class="panel-body">
            <div class="container">

                <h2>The Test</h2>

                <p>The test contains 10 questions and there is 30 minutes time limit.&nbsp;</p>

                <h2>Count Your Score</h2>


                <p>  At the end of the Quiz, your total score will be Displayed</p>

                <p>Minimum score is 40 percentage to pass </p>

                <h2>Start the Quiz</h2>

                <p>Test Name is  {{test_name.testmap_testid.test_name}}</p>

                <p>Good luck!</p>

            </div>
            <form method="post" >
                {% csrf_token %}

                <div class="form-group">
                    <div class="row">
                        <div class=" col-lg-1">
                            <a href="/candidate" class="btn btn-danger" role="button" >Cancel</a>
                        </div>
                        <div class="col-lg-offset-1 col-lg-1">
                            <a href ='/candidate/exam/{{test_name.testmap_testid.test_id}}' class="btn btn-success" >Start Quiz</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}