<html xmlns="http://www.w3.org/1999/html">
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">

<div class="row">
    <nav class="navbar navbar-inverse">
       <div class="navbar-header">
          <!--  <h1 >Techquiz</h1>-->

      <a class="navbar-brand" href="#">TechQuiz</a>
       </div>
        <ul class="nav navbar-nav">
            <li ><a href="/candidate/active">Active Test</a></li>
            <li><a href="/candidate/upcoming">Upcoming courses</a></li>
            <li><a href="/candidate/inprogress">InProgress</a></li>
             <li><a href="/candidate/completed">Completed</a></li>
        </ul>
        </nav>
</div>

 <div class="row">
     <div class="col-sm-4" >
        <div class="collapse navbar-collapse">
        <ul class="navbar nav navbar-sidenav" >
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Mail</a></li>
        <li><a href="#">GeoLocation</a></li>
        </ul>
        </div>
     </div>


{% block content %}
{% endblock %}

 </div>





</div>


</body>
</html>